.shared-btn {
  background-color: #e8910e;
  color: #ffff;
  padding: 10px 20px;
  border: 1px solid #787367;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 1.5rem;
  border: 2px solid #e8910e;
  transition: 0.3s ease-in;
}
.shared-btn:hover {
  color: #000;
  background-color: #ffff;
  border: 2px solid #aeaeae;
}
